h5,
p {
    display: inline;
}

.resume-title {
    padding-left: 1rem;
    height: 90px;
    line-height: 90px;
    background-color: #858585;
}

/* 清除浮动 */
.clearfix {
    clear: both;
}

.content-after {
    border-bottom: 2px solid #efefef;
}

.content-after::after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
    *zoom: 1;
}

.title {
    width: 120px;
    height: 90px;
    line-height: 90px;
    float: left;
    text-align: center;
    background-color: #d6d6d6;
    border-bottom: 1px solid #eaeaea;
}

.vue,
.react {
    display: inline;
}