/* .resume-title高度与父元素 即#resume 一样 */
body,
html {
    height: 100%;
}

.toggleBtns-title {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

#resume {
    height: 100%;
}

/* #resume::after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
    *zoom: 1;
} */

.resume-title {
    width: 210px;
    height: 100%;
    float: left;
    text-align: center;
    background-color: #65a5fa;
}

.resume-content {
    float: right;
    height: 100%;
    padding-left: 1rem;
    background-color: #fff;
}

.main-title {
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
    padding-top: 100%;
}

/* 清除浮动 */
.clearfix {
    clear: both;
}

.title {
    margin: 1rem 0;
}